# Build output
[Bb]in/
[Oo]bj/
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Aa]rm64/
publish/

# Visual Studio / Rider / VS Code
.vs/
.idea/
.vscode/
*.user
*.suo
*.userosscache
*.sln.docstates
*.rsuser

# NuGet
*.nupkg
*.snupkg
packages/
project.lock.json
project.fragment.lock.json

# Logs & temp files
*.log
*.tmp
*.cache

# OS files
Thumbs.db
Desktop.ini
.DS_Store
